<main id="main" class="main">

  <div class="pagetitle">
    <h1>Team Member</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item active">{{title}}</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

    <div class="d-flex justify-content-center">
            <a href="/admin/team/create" class="btn btn-primary"><i class="bi bi-plus-circle "></i> Add New Member</a>
    </div>
  <section>
    <div class="container container-fluid shadow">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Designation</th>
            <th>Image</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {{!-- {{#each data}} --}}
          <tr>
            <td>#</td>
            <td>{{title}}</td>
            <td>{{biography}}</td>
            <td> <img src="/{{image}}" alt="" height="50px" width="50px"> </td>
            <td>
              <a href="/admin/team/{{id}}/edit" class="btn btn-outline-primary btn-sm"><i class="bi bi-pencil-square"></i></a>
              <a href="/admin/team/{{id}}/view" class="btn btn-outline-success btn-sm"><i class="bi bi-eye-fill"></i></a>
              <a href="/admin/team/{{id}}/delete" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash3-fill"></i></a>
            </td>
          </tr>
          {{!-- {{/each}} --}}
        </tbody>
      </table>
    </div>
  </section>
  <!-- End Tables without borders -->

</main><!-- End #main -->