<main id="main">
  <!-- ======= Hero Slider Section ======= -->
  <section id="hero-slider" class="hero-slider">
    <div class="container-md" data-aos="fade-in">
      <div class="row">
        <div class="col-12">
          <div class="swiper sliderFeaturedPosts">
            <div class="swiper-wrapper">
              
              {{#each blog}}
              <div class="swiper-slide">
                <a href="{{id}}/read" class="img-bg d-flex align-items-end"
                  style="background-image: url('/{{image}}');">
                  <div class="img-bg-inner">
                    <h2>{{title}}</h2>
                    <p>{{details}}</p>
                  </div>
                </a>
              </div>
              {{/each}}

            </div>


            <div class="custom-swiper-button-next">
              <span class="bi-chevron-right"></span>
            </div>
            <div class="custom-swiper-button-prev">
              <span class="bi-chevron-left"></span>
            </div>

            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero Slider Section -->

  <!-- ======= Post Grid Section ======= -->
  <section id="posts" class="posts">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-4">
          <div class="post-entry-1">
            <a href="single-post.html"><img src="image/frontend/post-landscape-1.jpg" alt="" class="img-fluid"></a>
            <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th
                '22</span></div>
            <h2><a href="single-post.html">11 Work From Home Part-Time Jobs You Can Do Now</a></h2>
            <p class="mb-4 d-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero temporibus
              repudiandae, inventore pariatur numquam cumque possimus exercitationem? Nihil tempore odit ab minus
              eveniet praesentium, similique blanditiis molestiae ut saepe perspiciatis officia nemo, eos quae cumque.
              Accusamus fugiat architecto rerum animi atque eveniet, quo, praesentium dignissimos</p>

            <div class="d-flex align-items-center author">
              <div class="photo"><img src="image/frontend/person-1.jpg" alt="" class="img-fluid"></div>
              <div class="name">
                <h3 class="m-0 p-0">Cameron Williamson</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="col-5">
          <div class="row">
            {{#each blog}}
            <div class="col-6 border-start custom-border">
              <div class="post-entry-1">
                <a href="{{id}}/read"><img src="/{{image}}" alt="" class="img-fluid"></a>
                <div class="post-meta"><span class="date">{{catagory}}</span> <span class="mx-1">&bullet;</span> <span>{{date}}</span></div>
                <h2><a href="{{id}}/read">{{title}}</a></h2>
              </div>
            </div>
            {{/each}}
          </div>




        </div>
        <!-- Trending Section -->
        <div class="col-3">
          <div class="trending">
            <h3>Trending</h3>
            <ul class="trending-post">
              {{#each blog}}
              <li>
                <a href="{{id}}/read">
                  <span class="number">1</span>
                  <h3>{{title}}</h3>
                  <span class="author">Jane Cooper</span>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>

        </div> <!-- End Trending Section -->
      </div> <!-- End .row -->
    </div>
  </section> <!-- End Post Grid Section -->