<main id="main">

  <section class="single-post-content">
    <div class="container">
      <div class="row">
        <!-- ======= Single Post Content ======= -->
        <div class="single-post">
          <div class="post-meta"><span class="date">Business</span> <span class="mx-1">&bullet;</span> <span>Jul 5th
              '22</span></div>
          <h1 class="mb-5">{{blog.title}}</h1>
          <p>{{blog.details}}</p>

          {{!-- <figure class="my-4"> --}}
          <figure>
            <img src="/{{blog.image}}" alt="" class="img-fluid">
            {{!-- <figcaption>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, odit? </figcaption> --}}
          </figure>
          <p>{{blog.details}}</p>
          {{!-- <figure class="my-4"> --}}
          <figure>
            <img src="/{{blog.image}}" alt="" class="img-fluid">

            {{!-- <figcaption>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, odit? </figcaption> --}}
          </figure>
          <p>{{blog.details}}</p>
        </div><!-- End Single Post Content -->
      </div>
    </div>
  </section>
</main><!-- End #main -->