<div class="testimonial-design">

  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">


      <div class="carousel-item active">
              {{#each testimonial}}
        {{!-- Card Start --}}
        <div class="d-flex justify-content-center shadow">
          <div class="card mb-3" style="width: 75%">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/{{image}}" class="img-fluid rounded-start" alt="{{title}}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h1 class="card-title">{{title}}</h1>
                  <p class="card-text"><small class="text-muted">{{designation}}</small></p>
                  <p class="card-text">{{details}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}

        {{!-- End of card --}}
      </div>


      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>